---
interface Props {
  class?: string;
  narrow?: boolean;
}

const { class: className, narrow = false } = Astro.props;
---
<section
  class:list={[
    'py-12 md:py-16',
    narrow ? 'max-w-prose mx-auto px-6' : 'mx-auto max-w-content px-6',
    className,
  ]}
>
  <slot />
</section>
